body {
    background: #f4f7fa;
    margin: 0;
    padding: 0; 
}

.banner-container {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px;
}

.logo-container .logo-text {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative; /* Add this to position the menu content relative to the menu */
    max-width: 800px;
}

.menu-button {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%; /* Position below the menu button */
    right: 0; /* Align to the right edge of the menu */
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a,
.menu-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.menu-content a:hover,
.menu-content button:hover {
    background-color: #ddd;
}

.menu:hover .menu-content {
    display: block;
}

.dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .react-calendar {
        width: 100%;
        max-width: 350px;
        background-color: white;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;

        @media (max-width: 768px) {
            max-width: 100%;
        }

        .react-calendar__tile {
            max-width: 100%;
            text-align: center;
        }
    }
}

.overview {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.overview-item {
    flex: 1; /* Allow items to grow equally */
    text-align: center; /* Center text */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px; /* Add margin between items */
    min-width: 200px; /* Ensure items don't get too small */
}

.transactions-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.transactions {
    flex: 2;
}

.add-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%; /* Ensure buttons take full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .overview {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .overview-item {
        margin: 10px 0; /* Adjust margin for vertical stacking */
    }

    .transactions-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .add-buttons {
        flex-direction: row; /* Arrange buttons horizontally */
        justify-content: space-between; /* Distribute space between buttons */
    }

    .button {
        flex: 1; /* Allow buttons to grow equally */
        margin: 0 5px; /* Add margin between buttons */
    }
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    background-color: transparent;
}