.banner-container {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px;
}

.logo-container .logo-text {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    max-width: 800px;
}

.menu-button {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.menu-content a,
.menu-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.menu-content a:hover,
.menu-content button:hover {
    background-color: #ddd;
}

.menu:hover .menu-content {
    display: block;
}

.dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .react-calendar {
        width: 100%;
        max-width: 350px;
        background-color: white;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;

        @media (max-width: 768px) {
            max-width: 100%;
        }

        .react-calendar__tile {
            max-width: 100%;
            text-align: center;
        }
    }
}

.transactions-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap as needed */
}

.transactions {
    flex: 2; /* Adjust the flex value as needed */
}

.add-buttons {
    flex: 1; /* Adjust the flex value as needed */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap as needed */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    background-color: transparent;
    margin-bottom: 80px;
}