body {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.signup-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 5%;
}

.signup-container form {
    display: flex;
    flex-direction: column;

    div {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px;
    }

    input, button {
        width: 300px; /* Ensure both input and button take full width */
        padding: 15px;
        margin: 0 auto 15px auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
        font-size: 14px;
    }

    button {
        margin-top: 30px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    background-color: transparent; // Ensure the footer background is transparent
}